body {
  font-size: large;
  background: coral;
}

section {
  min-height: 25vh;
}

#something1 {
  background-color: red;
}
#something2 {
  background-color: blue;
}
#something3 {
  background-color: green;
}
#something4 {
  background-color: yellow;
}

img {
  height: 50vh;
}
