body {
  background-color: #f7ecde;
  font-family: sans-serif;
  font-size: 20px;
  text-align: left;
  color: Black;
}

h1 {
  font-size: 50px;
  font-style: bold;
  color: #54bab9;
}

em {
  font-style: normal;
  color: green;
  font-weight: bold;
}

h2 {
  font-size: 30px;
  font-style: italic;
  color: #54bab9;
}

footer {
  background-color: #e9dac1;
}

img {
  border-radius: 10%;
  height: 300px;
}

.icon-bar {
  width: 100%; /* Full-width */
  background-color: #555; /* Dark-grey background */
  overflow: auto; /* Overflow due to float */
}

.icon-bar a {
  float: left; /* Float links side by side */
  text-align: center; /* Center-align text */
  width: 25%; /* Equal width (5 icons with 20% width each = 100%) */
  padding: 12px 0; /* Some top and bottom padding */
  transition: all 0.3s ease; /* Add transition for hover effects */
  color: white; /* White text color */
  font-size: 36px; /* Increased font size */
}

.icon-bar a:hover {
  background-color: #000; /* Add a hover color */
}

.active {
  background-color: #04aa6d; /* Add an active/current color */
}
