* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  font-family: monospace;
  font-size: 1.5rem;
  height: 100%;
}
.pm {
  min-height: 100px;
  margin: 2px;
}

header {
  display: flex;
}

.site-title {
  background: yellow;
  flex: 1;
}

nav {
  flex: 1;
}
ul {
  display: flex;
  list-style: none;
}
li {
  flex: 1;
  background: pink;
}

main {
  display: flex;
  height: 100%;
}

section {
  flex: 3;
}
.post-title {
  background-color: rgb(103, 137, 148);
}

.section-post-container {
  display: flex;
  height: calc(100%-105px);
}

.post-meta {
  flex: 1;
  background-color: lightgreen;
}
.main-content-container {
  flex: 3;
  flex-direction: column;
}

.main-content {
  background: lightgray;
  flex: 1;
}

.main-content-img {
  flex: 2;
  background: yellow;
}

aside {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100%;
}

aside div:first-child {
  background: orange;
  flex: 1;
}
aside div:nth-child(2) {
  background: green;
  flex: 1;
}
aside div:last-child {
  background: violet;
  flex: 1;
}
footer {
  background: brown;
}
