* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
:root {
  --yellow: #fac300;
  --black: #0e1d30;
  --lightblue: #30507e;
  --darkblue: #003272;
  --red: #aa1316;
  --bcred: #60103a;
  --bcpink: #f7e1d3;
  --font: "Poppins", "Courier New", Courier, monospace;
}
a {
  text-decoration: none;
  color: white;
}
html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font);
}
h1 {
  font-size: 2.5rem;
}
h2 {
  font-size: 2rem;
}
h3,
p {
  font-size: 1rem;
}
h4 {
  font-size: 0.8rem;
}
a {
  text-decoration: none;
}
.nav-bar {
  background-color: var(--darkblue);
  color: var(--yellow);
  height: 10vh;
}
.logo {
  display: block;
  font-family: "Dancing Script";
  padding-left: 5px;
  font-size: 8vh;
  float: left;
}
.nav-bar ul {
  list-style-type: none;
  height: 60px;
  float: right;
  padding-top: 10px;
}
.nav-bar li {
  display: inline-block;
  padding: 10px;
}
.nav-bar a {
  display: block;
  text-decoration: none;
  text-align: center;
  color: var(--yellow);
}

/* HERO PAGE */
.hero-page {
  display: grid;
  grid-template-columns: 20% 10% 40% 10% 20%;
  grid-template-rows: 30vh 55vh;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  background-color: var(--black);
  color: var(--yellow);
  padding: 0 100px;
  background-image: url(Assets/background.jpeg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-page-title {
  padding-top: 20px;
  grid-area: 1 / 2 / 2 / 5;
  text-align: center;
}
button {
  background-color: var(--bcpink);
  color: var(--bcred);
  text-decoration: none;
  font-family: var(--font);
  font-size: 1.2rem;
  border-radius: 10%;
  padding: 10px;
}
.quick-intro {
  grid-area: 2 / 1 / 2 / 3;
  padding: 20px 0 0 0;
}
.quick-intro-item {
  padding: 10px;
}
.quick-intro-item h4 {
  color: var(--bcpink);
}
.hero-img {
  grid-area: 2 / 3 / 3 / 3;
  text-align: center;
}
.hero-img img {
  padding-top: 20px;
  width: 90%;
  height: 90%;
}

.quick-skill {
  grid-area: 2 / 4 / 4 / 6;
  font-size: 4rem;
  padding: 0 0 15% 5%;
  display: grid;
  grid-template-columns: auto auto;

  align-items: center;
  justify-items: center;
}
i {
  text-align: center;
  justify-items: center;
}

/* PROJECT PAGE */

/* PROJECT PAGE -> NEW PROJECT */
.project-page {
  background-color: var(--lightblue);
  padding: 0 100px;
}
.project-page-title {
  text-align: center;
  color: var(--yellow);
  padding: 20px;
}
.new-project {
  display: grid;
  grid-template-columns: auto auto auto auto;
}
.project-card {
  text-align: center;
  padding: 0 5px;
}
.project-card img {
  border-radius: 10%;
  width: 200px;
  height: 250px;
}
.project-card h3 {
  color: var(--yellow);
}
.project-card h4 {
  color: var(--bcpink);
}
.dots {
  text-align: center;
  width: 100%;
  padding: 30px;
}
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: var(--yellow);
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* PROJECT PAGE -> PAST PROJECT */
.past-project {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  padding: 0 10px;
}
.past-project-title {
  color: var(--yellow);
}
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: scroll;
  background-color: rgba(0, 0, 0, 0.8);
  color: var(--yellow);
}
.modal-content {
  background-color: var(--darkblue);
  padding: 10px 20px;
  border: 1px solid #888;
  width: 80%;

  margin: 20px auto;
  border-radius: 15px;
}
.modal-content img {
  width: 100%;
  max-height: 70vh;
}
.close {
  background-color: var(--darkblue);
  position: absolute;
  width: 40px;
  height: 40px;
  color: #aaa;
  right: 5vw;
  font-size: 28px;
  font-weight: bold;
  text-align: center;
  border-radius: 50%;
  color: var(--bcpink);
}
.close:hover {
  background-color: var(--yellow);
}

/* ABOUT ME */
.about-me {
  background-color: var(--bcred);
  color: var(--bcpink);
  padding: 0 100px;
}
.about-me .title {
  text-align: center;
  padding: 20px;
}
.about-me-content {
  display: grid;
  grid-template-columns: auto auto;
}
.about-me-content p {
  padding: 0 50px;
  text-align: justify;
}
#bc-img {
  height: 300px;
  width: 300px;
  border-radius: 15px;
}
#progress-bar {
  width: 100%;
}
